# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo

# Excel files (если не хотите их в репозитории)
*.xlsx
*.xls

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

